.container {
  background: linear-gradient(rgb(78 96 104), rgb(37 48 56));
  height: 100vh;
  display: flex;
  gap: 2rem;
}

.sources {
  flex: 0 0 25%;
  border-right: 1px solid black;
  padding: 0.4rem;
}

.source {
  position: relative;
  z-index: 1;
}

.source-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  padding: 0.2rem;
}

.source-thumbnail {
  max-width: 100%;
  height: auto;
}