.mark {
  width: 1px;
  background: rgb(255, 255, 255, 0.7);
  position: absolute;
  top: 1rem;
  z-index: 1;
  bottom: 0;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
}

.children {
  position: absolute;
  top: 100%;
  padding-top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.childrenTop {
  composes: children;
  top: auto;
  bottom: 100%;
  padding-bottom: 0.5rem;
  padding-top: initial;
}
